<mat-card>
  <h1>Zarządzaj kontem użytkownika</h1>
  <mat-card-subtitle *ngIf="user">{{user.email}}</mat-card-subtitle>
  <h2>Wypożyczone filmy</h2>
  <div *ngIf="userRentals && userRentals.length>0; else noMoviesRented">
    <mat-selection-list #rentalsList>
      <mat-list-option *ngFor="let rental of userRentals" value="{{rental.id}}">{{rental.movieTitle}}</mat-list-option>
      <button (click)="returnSelectedMovies(rentalsList)"
              [disabled]="rentalsList.selectedOptions.selected.length===0">
        Zwróć zaznaczone filmy
      </button>
    </mat-selection-list>
  </div>
</mat-card>

<ng-template #noMoviesRented>
  <div class="no-movies">
    <li>Brak aktualnych wypożyczeń</li>
  </div>
</ng-template>
