<mat-card xmlns="http://www.w3.org/1999/html">
  <h1>Panel użytkownika</h1>
  <mat-card-subtitle>
    <div *ngIf="loggedUser">{{loggedUser.email}}</div>
  </mat-card-subtitle>
  <mat-card-content>
    <h2>Wypożyczone filmy</h2>
    <ul class="list-group">
      <div *ngIf="loggedUserRentals && loggedUserRentals.length > 0; else noMoviesRented">
        <li *ngFor="let rental of loggedUserRentals">
          <div class="list-group-item">{{rental.movieTitle}}
          </div>
        </li>
      </div>
    </ul>
  </mat-card-content>
</mat-card>

<ng-template #noMoviesRented>
  <div class="no-movies">Brak aktualnych wypożyczeń</div>
</ng-template>
