<h1>{{title}}</h1>
<nav>
  <a routerLink="/searchmovies">Szukaj filmu</a>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/users">Użytkownicy</a>
  <a routerLink="/user-panel">Panel użytkownika</a>
</nav>
<router-outlet></router-outlet>
<br><br>
<app-messages></app-messages>
