<mat-card>
  <div *ngIf="user">
    <h1>Szczegóły użytkownika</h1>
    <div><span>Id: </span>{{user.id}}</div>
    <div><span>Login: </span>{{user.login | uppercase}}</div>
    <div><span>Hasło: </span>{{user.password}}</div>
    <div><span>E-mail: </span>{{user.email | uppercase}}</div>
    <div><span>Data urodzenia: </span>{{user.dateOfBirth | date:"dd-MM-yyyy"}}</div>
    <div><span>Płeć: </span>{{user.gender}}</div>
    <br/><br/>
    <br>
    <a routerLink="/manage-user-panel/{{user.id}}">
      <button>Zarządzaj kontem użytkownika</button>
    </a>
    <button (click)="goBack()">Powrót</button>
  </div>
</mat-card>
