<mat-card xmlns="http://www.w3.org/1999/html">
  <mat-card-content>
    <mat-tab-group name="searchMoviesTabGroup" [color]="red" [disableRipple]="true" class="search-movies-tab-group"
                   (selectedTabChange)="manageTabsData($event.index)" [selectedIndex]="selectedTabIndex">
      <mat-tab label="{{titleTabName}}">
        <div class="search-movies-tab-content">
          <h1>Wyszukaj po tytule</h1>
          <form class="form-group">
            <mat-form-field>
              <input name="title" matInput placeholder="podaj tytuł filmu" [(ngModel)]="searchedTitle">
            </mat-form-field>
            <br><br>
            <input type="button" value="Szukaj" class="search-button" (click)="findByTitle(searchedTitle)">
            <div *ngIf="shouldShowErrorMessage" class="error-message">{{errorMessage}}</div>
            <br><br>
          </form>
        </div>
      </mat-tab>
      <mat-tab name="genresTab" label="{{genresTabName}}">
        <div class="search-movies-tab-content">
          <h1>Wyszukaj po gatunkach</h1>
          <mat-form-field>
            <mat-select required class="form-control" placeholder="wybierz gatunki"
                        [formControl]="selectedGenres" [disableRipple]="true" multiple>
              <mat-option *ngFor="let genre of genresDataStore.allAvailableGenres" [value]="genre.id">{{genre.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <br><br>
          <input type="button" value="Szukaj" class="search-button" (click)="findByGenres()">
        </div>
      </mat-tab>
      <mat-tab label="{{premierDateYearTabName}}">
        <div class="search-movies-tab-content">
          <h1>Wyszukaj po roku premiery</h1>
          <mat-form-field>
            <mat-select required class="form-control" placeholder="wybierz rok premiery"
                        [formControl]="selectedYear">
              <mat-option *ngFor="let year of premierDateYears" [value]="year">{{year}}</mat-option>
            </mat-select>
          </mat-form-field>
          <br><br>
          <input type="button" value="Szukaj" class="search-button" (click)="findByYear()">
        </div>
      </mat-tab>
    </mat-tab-group>
    <app-movies [movies]="foundMovies"></app-movies>
  </mat-card-content>
</mat-card>
