.search-movies-tab-group {
  border: 1px solid #e8e8e8;
}

.search-movies-tab-content {
  padding: 16px;
}

.error-message {
  color: red;
  font-size: x-large;
  font-weight: bold;
}

input.search-button {
  color: #aaa;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

input:hover {
  background-color: #cfd8dc;
}
input:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}
input.search-button {
  color: #888;
  margin-bottom: 12px;
}
