button {
  color: #aaa;
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: hand;
}

button:hover {
  background-color: #cfd8dc
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

input {
  margin-bottom: 10px;
}

.form-size {
  width: 400px;
}

.error-message {
  color: red;
  font-size: x-large;
  font-weight: bold;
}

.message {
  color: green;
  font-size: x-large;
  font-weight: bold;
}

.btn {
  color: #888;
  margin-bottom: 12px;
}
