<mat-card>
  <h1>Dodawanie użytkownika</h1>
  <form class="form-size" (ngSubmit)="saveUser()">
    <div class="form-group" [class.has-error]="email.invalid && email.touched">
      <label>Email:</label>
      <input type="email" class="form-control" id="email" required [email]="user.email!==''"
             [(ngModel)]="user.email" name="email" #email="ngModel" placeholder="email">
    </div>
    <div *ngIf="email.invalid && (email.dirty || email.touched) "class="alert alert-danger">
      <div *ngIf="email.errors?.required && email.touched">
        Email jest wymagany.
      </div>
      <div *ngIf="email.errors?.email && email.touched">
        Email ma zły format.
      </div>
    </div>

    <div class="form-group" [class.has-error]="password.invalid && password.touched">
      <label>Hasło:</label>
      <input type="password" class="form-control" id="password" required 
      	[(ngModel)]="user.password" name="password" #password="ngModel" placeholder="hasło">
    </div>
	<div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
	  	<div *ngIf="password.errors.required">
			Hasło jest wymagane.
	  	</div>    
    </div>
    
    <div class="form-group">
      <label>Data urodzenia:</label>
      <input type="date" class="form-control" id="dateOfBirth" [(ngModel)]="user.dateOfBirth" name="dateOfBirth" #dateOfBirth="ngModel" placeholder="data urodzenia">
    </div>
    <div class="form-group">
      <div><label>Płeć:</label></div>
      <label class="radio-inline"><input type="radio" name="gender" (change)="onGenderChange('F')" checked>K</label>
      <label class="radio-inline"><input type="radio" name="gender" (change)="onGenderChange('M')">M</label>
    </div>
    <div>
      <button type="submit" class="btn" [disabled]="email.errors?.email || email.errors?.required || password.errors?.required">Utwórz konto</button>
      <button type="button" class="btn" (click)="goBack()">Powrót</button>
    </div>
    <div *ngIf="shouldShowErrorMessage" class="error-message">{{errorMessage}}</div>
    <div *ngIf="shouldShowMessage" class="message">Zapisano użytkownika</div>
  </form>
</mat-card>
