<div *ngIf="_movies">
  <h2>Lista znalezionych filmów</h2>
  <ul class="list-group">
    <li *ngFor="let movie of _movies">
      <a routerLink="/movie-detail/{{movie.id}}" class="list-group-item list-group-item-action">
        <span>{{movie.title}}</span><span class="copiesAmount">{{movie.numberOfAvailableCopies}}</span>
      </a>
    </li>
  </ul>
</div>
