<div *ngIf="messageService.messages.length">
  <h2>Komunikaty</h2>
  <button class="clear"
          (click)="messageService.clear()">Wyczyść</button>
  <div *ngFor='let message of messageService.messages'> {{message}} </div>

</div>
