button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: hand;
}

.poster {
  border: 1px solid black;
  width: 30vmin;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.title {
  font-size: 3.5vmin;
  font-weight: bolder;
}

.description-header {
  font-size: 3vmin;
  font-weight: bold;
}

.description {
  font-size: 1.7vmin;
}

.additional-info {
  font-size: 1.5vmin;
  font-style: italic;
}
