<div *ngIf="movie">
  <mat-card>
    <mat-card-title class="title">
      {{movie.title}}
    </mat-card-title>
    <img class="poster" src="/assets/images/{{movie.posterFile}}">
    <br><br>
    <div class="additional-info">reż. {{movie.director}}</div>
    <div class="additional-info">premiera: {{movie.premierDate}}</div>
    <br><br>
    <mat-card-content>
      <div class="description-header">Opis filmu:</div>
      <div class="description">
        {{movie.description}}
      </div>
    </mat-card-content>
    <button color="primary" [disabled]="isRentalDisabled()" (click)="rentMovie()">Wypożycz</button>
    <button (click)="goBack()">Powrót</button>
  </mat-card>
</div>
