.users {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: fit-content;
}

.users li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  padding: 0 1em 0 0;
  margin: .5em;
  height: 2em;
  border-radius: 4px;
}

.users li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.users a {
  color: #888;
  text-decoration: none;
}

.users a:hover {
  color: #607D8B;
}

.users .id {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0.8em 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  height: 2.15em;
  min-width: 35px;
  text-align: right;
  margin-right: .4em;
  border-radius: 4px 0 0 4px;
}

input.search-button {
  color: #aaa;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}


