<mat-card>
  <h1>Lista użytkowników</h1>
  <ul class="users">
    <li *ngFor="let user of usersDataStore.allUsers">
      <a routerLink="/user-detail/{{user.id}}">
        <span class="id"> {{user.id}} </span><span> {{user.email}} </span>
      </a>
    </li>
  </ul>
  <br>

  <a routerLink="/add-user">
    <button>Dodaj użytkownika</button>
  </a>

</mat-card>

