<h3>Topowi użytkownicy</h3>
<div class="grid grid-pad">
  <a *ngFor="let user of users" class="col-1-3"
     routerLink="/user-detail/{{user.id}}">
    <div class="module user">
      <h4>{{user.id}} | {{user.email}}</h4>
    </div>
  </a>
</div>
